
.padding_top_80 {
  padding-top: 80px;
}
.padding_bottom_80 {
  padding-bottom: 80px;
}

.wrapper_60 {
  width: 60%;
  margin: 0 auto;
}
.bg_green {
  background-color: #1ABC9C;
}
.btn_green {
  background-color: #1ABC9C;
  color: white;
  text-transform: uppercase;
}
.btn_green .glyphicon{
  vertical-align: text-top;
}

/* header */
.header_top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: #2C3E50;
  line-height: 80px;
  z-index: 3;
}
.navbar_logo {
  display: inline;
  width: 60px;
  color: white;
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 700;
}
.navbar_logo:hover {
  display: inline;
  width: 60px;
  color: white;
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
}

.text-right nav ul li {
  text-decoration: none;
  display: inline;
  font-size: 16px;
  font-weight: 700;
  margin-left: 30px;
}
.text-right nav ul li a {
  color: white;
}
.text-right nav ul li a:hover {
  color: #1ABC9C;
  text-decoration: none;
}

/* Jumbo */
.jumbo {
  margin-top: 80px;
  padding: 80px 0;
}
.jumbo_text {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}
.height_avatar {
  width: 30%;
}
h1 {
  color: white;
  font-size: 4.5em;
  text-transform: uppercase;
  font-weight: 700;
}
.star {
  width: 100%;
  padding: 25px;
  text-align: center;
}
.line {
  width: 80px;
  display: inline-block;
  background-color: white;
  height: 0.25em;
  max-width: 8em;
}
.icon {
  display: inline-block;
  color: white;
  font-size: 25px;
  margin: 10px;
}
.text_p {
  color: white;
  font-size: 25px;
}
/* Portfolio */
.container_jambo{
  width: 100%;
}
h2 {
  color: #2C3E50;
  font-size: 5em;
  font-weight: 700;
  margin-bottom: 0.5em;
}
.star_black{
  width: 100%;
  padding: 25px;
  text-align: center;
}
.line_black {
  display: inline-block;
  background-color: #2C3E50;
  height: 0.25em;
  max-width: 8em;
  width: 80px;
}
.icon_back {
  display: inline-block;
  color: #2C3E50;
  text-align: center;
  font-size: 25px;
  margin: 10px;
}
.box_portfolio {
  margin-bottom: 35px;
}
.box {
  width:100%;
  border-radius: 5px;
}
.row {
  margin-right: -30px;
  margin-left: -30px;
}
/* portfolio */

/* about */
.about_text_center a {
  text-align: center;
  padding: 15px;
  color: white;
  font-size: 24px;
  width: 100%;
  height: 25px;
  border: 1px solid white;
  border-radius: 3px;
}
.about_text_center {
  text-decoration: none;
}
.margin_about {
  margin-top: 50px;
}
.about_text_center {
  width: 100%;
  text-align: center;
}

/* Footer */
.footer_top {
  background-color: blue;
}
.footer_bottom {
  padding: 20px 0;
  background-color: darkblue;
}


@media screen and (max-width: 768px) {
  .wrapper_xs_100 {
    width: 100%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .wrapper_md_60 {
    width: 60%;
    margin: 0 auto;
  }
}
